.bottom-area {
	width: 50%;
	justify-content: center;
	.hint {
		display: flex;
		align-items: center;
		justify-content: center;
		kbd {
			background-color: var(--font-color);
			color: var(--bg-color);
			padding: 2.5px 5px;
			margin: 10px;
			border-radius: 3px;
			font-size: 9pt;
		}
	}
	footer {
		width: 100%;
	}
}
