.mkbhd {
    --bg-color: #171717 !important;
    --font-color: #ededed !important;
    --hl-color: #da0037 !important;
    --fg-color: #444444 !important;
}

.mocha {
    --bg-color: #2d2424 !important;
    --font-color: #e0c097 !important;
    --hl-color: #dc521c !important;
    --fg-color: #5c3d2e !important;
}

.coral {
    --bg-color: #fdd2bf !important;
    --font-color: #df5e5e !important;
    --hl-color: #492f10 !important;
    --fg-color: #e98580 !important;
}

.ocean {
    --bg-color: #dddddd !important;
    --font-color: #125d98 !important;
    --hl-color: #f5a962 !important;
    --fg-color: #3c8dad !important;
}

.azure {
    --bg-color: #383e56 !important;
    --font-color: #eedad1 !important;
    --hl-color: #f69e7b !important;
    --fg-color: #d4b5b0 !important;
}

.forest {
    --bg-color: #334443 !important;
    --font-color: #fff8df !important;
    --hl-color: #c6ffc1 !important;
    --fg-color: #34656d !important;
}

.rose-milk {
    --bg-color: #ffffff !important;
    --font-color: #111111 !important;
    --hl-color: #b33838 !important;
    --fg-color: #3b8792 !important;
}

.amethyst {
    --bg-color: #e2caea !important;
    --font-color: #480c51 !important;
    --hl-color: #ab395f !important;
    --fg-color: #9774aa !important;
}

.amber {
    --bg-color: #feb204 !important;
    --font-color: #d53600 !important;
    --hl-color: #700e01 !important;
    --fg-color: #ff8503 !important;
}

.terminal {
    --bg-color: #000000 !important;
    --font-color: #ffffff !important;
    --hl-color: #ff0000 !important;
    --fg-color: #00ff00 !important;
}
.vs-code {
    --bg-color: #1e1e1e !important;
    --font-color: #d4d4d4 !important;
    --hl-color: #7fb1ce !important;
    --fg-color: #ce9278 !important;
}

