.test {
	display: flex;
	flex-direction: column;
	font-size: 21pt;
	font-weight: 700;
	width: 70%;
}

.timer {
	margin: 5px;
}
.box {
	overflow: hidden;
	height: 62px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	.word {
		position: relative;
		margin: 2px 5px;
		&.wrong {
			text-decoration: 2px underline var(--hl-color);
		}
	}
	.typedWord {
		position: absolute;
		top: 0;
		left: 0;
	}
	#active,
	.right {
		color: var(--fg-color);
	}
	#active {
		position: relative;
		width: max-content;
	}
	span.wrong {
		color: var(--hl-color) !important;
	}

	.caret {
		transition: left 0.1s ease;
		margin-left: -8px;
		position: absolute;
		color: var(--hl-color);
		animation: blink 1s ease infinite;
	}
	@keyframes blink {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}
}
