header,
footer {
	margin: 50px 0px;
	display: flex;
	width: 50%;
	justify-content: space-between;
}

header {
	font-size: 21pt;
	font-weight: 900;
	.buttons {
		&,
		* {
			font-size: 12pt;
			font-weight: normal;
		}
	}
}

.mkbhd {
	--bg-color: #171717 !important;
	--font-color: #ededed !important;
	--hl-color: #da0037 !important;
	--fg-color: #444444 !important;
}

.peachy {
	--bg-color: #fdd2bf !important;
	--font-color: #df5e5e !important;
	--hl-color: #492f10 !important;
	--fg-color: #e98580 !important;
}

.beachy {
	--bg-color: #dddddd !important;
	--font-color: #125d98 !important;
	--hl-color: #f5a962 !important;
	--fg-color: #3c8dad !important;
}
