header,
footer {
	margin: 50px 0px;
	display: flex;
	width: 50%;
	justify-content: space-between;
}

header {
	font-size: 21pt;
	font-weight: 900;
	.buttons {
		&,
		* {
			font-size: 12pt;
			font-weight: normal;
		}
	}
}
